.movie-detail-container {
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.back-link {
    display: block;
    margin-bottom: 20px;
    color: blue;
    cursor: pointer;
}

.movie-header {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.movie-cover {
    width: 300px;
    margin-right: 20px;
}

.movie-summary {
    font-size: 0.95em;
    color: rgb(53, 77, 111);
}

.movie-details {
    background-color: #b84444;
    padding: 20px;
}

.detail-item {

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.detail-title {
    font-weight: bold;
    color: #333;
}