@if (shouldShowContent) {
<div class="movie-list-container">
  <div class="filters">
    <label for="title">Title</label>
    <input type="text" [formControl]="titleControl" />
    <label for="release-year">Release year</label>
    <input type="number" [formControl]="dateControl" />
  </div>
  <ul class="movie-list">
    @for (movie of filteredMovies; track $index) {
    <li>
      <h3>{{ movie.title }}</h3>
      <p>Release date: {{ movie.release_date }}</p>
      <p>Budget: {{ movie.budget | millionCurrency }}</p>
      <p>Duration: {{ movie.duration | minutesToHours }}</p>
      <button class="details-btn" (click)="onShowMovieDetail(movie.id)">
        Details
      </button>
    </li>
    }
  </ul>
</div>
}
<router-outlet></router-outlet>
